body {
    background-color: rgb(186, 233, 252);
}

img {
    display: block;
    width: 1500px;
    height: auto;
    position: absolute;
    left: 100px;
    top: 100px;
}

article {
    position: absolute;
    top: 940px;
    left: 100px;
}